<!DOCTYPE HTML>

<head>
<title>Joke</title>

</head>

<body>
	<form action = "/joke" method = "POST">
         
         <label for="joke">Joke</label> 
         <input type = "text" name = "joke" value = "" required />
         
         <label for="Punchline">Punchline</label>
         <input type = "text" name = "punchline" value = "" required />
         
         <label for="Rating">Rating</label>
         <input type = "number" name = "rating" value = "" min="1" max="10" required />
         
         <input type = "submit" value ="Submit" />
         
    </form>   	
    
</body>